#main {
    width: 70vw;
    height: 100vw;
    margin: auto;
    text-align: center;
}

.my-animation {
    animation: move 4s infinite alternate;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.my-card {
    width:300px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom:20px;
}

@keyframes move {
    0% {transform: rotateY(0deg);margin-left: 0vw;}
    20% {transform: rotateY(90deg);margin-left: 0vw;}
    40% {transform: rotateY(180deg);margin-left: 0vw;}
    /* 75% {transform: rotate(-90deg);margin-left: 20vw;} */
    100% {transform: rotateX(180deg);margin-left: 0vw;}
}